<h1>Edit an article</h1>

<%= form_for @article do |f| %>
  <p>
    <%= f.label :title, "Titre" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :reading_time, "Temps de lecture" %>
    <%= f.text_field :reading_time %>
  </p>
  <p>
    <%= f.label :category, "Catégorie" %>
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :rich_body, "Texte" %><br>
    <%= f.rich_text_area :rich_body %>
  </p>
  <p>
    <%= f.submit "Modifier l'article", class: 'btn btn-primary' %>
  </p>
<% end %>

  <!-- bouton back -->
  <%= link_to 'Retour', articles_path %>

<!-- affiche un message si erreur présente -->
<% if @article.errors.any? %>
   <h2>Les erreurs suivantes ont empêché la sauvegarde de l'article :</h2>
   <ul>
      <% @article.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
   </ul>
<% end %>
