<h1>Modifiez votre article :</h1>

<%= simple_form_for @article do |f| %>
  <%= f.input :title, label: "Titre" %>
  <%= f.input :category_id, collection: Category.all, label: "Catégorie", include_blank: false %>
  <%= f.input :subcategory_id, collection: Subcategory.all, label: "Sous-catégorie", include_blank: true %>
  <%= f.input :photo, as: :file, label: "Image" %>
  <%= f.input :description, label: "Description", :as => :text, input_html: { :style=> 'width: 100%;', :rows => 6} %>
  <%= f.input :rich_body, as: :rich_text_area, label: "Texte" %>
  <%= f.button :submit %>
<% end %>

<!-- bouton back -->
<%= link_to 'Retour', articles_path %>

<!-- affiche un message si erreur présente -->
<% if @article.errors.any? %>
   <h2>Les erreurs suivantes ont empêché la sauvegarde de l'article :</h2>
   <ul>
      <% @article.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
   </ul>
<% end %>
