<h1>Showing selected article</h1>

<h2>
  <%= @article.title %>
</h2>

<p>
  Catégorie : <%= @article.category %>
</p>

<p>
  Temps de lecture : <%= @article.reading_time %>
</p>

<p>
  <%= @article.rich_body %>
</p>

<% if policy(@article).edit? %>
  <%= link_to "Mettre à jour", edit_article_path(@article) %>
<% end %>

<% if policy(@article).destroy? %>
  <%= link_to 'Supprimer', article_path(@article), method: :delete, data: {confirm: "Êtes-vous sûr ?"} %>
<% end %>

<!-- bouton back -->
<%= link_to 'Retour', articles_path %>
