<<<<<<< HEAD
<div class="subcategory">
  <%= link_to 'Santé' %>
  <%= link_to 'Recettes' %>
  <%= link_to 'Bien-être' %>
  <%= link_to 'Santé au féminin' %>
  <%= link_to 'Périnatalité' %>
  <%= link_to 'Lifestyle' %>
</div>
=======
<h1>Showing selected article</h1>
>>>>>>> parent of 7ccb64b... front pages home services & contact

<h2>
  <%= @article.title %>
</h2>

<!--<p>
  Temps de lecture : <%= @article.reading_time %>
</p>-->

<p>
  <%= cl_image_tag @article.photo.key, width: 500 %>
</p>

<p>
  <%= @article.rich_body %>
</p>

<% if policy(@article).edit? %>
  <%= link_to "Mettre à jour", edit_article_path(@article) %>
<% end %>

<% if policy(@article).destroy? %>
  <%= link_to 'Supprimer', article_path(@article), method: :delete, data: {confirm: "Êtes-vous sûr ?"} %>
<% end %>

<!-- bouton back -->
<%= link_to 'Retour', articles_path %>
