<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <!--<div class="pagesLinks">
      <%= link_to "Qui suis-je ?", "/about", class: "liens" %>
      <%= link_to "Mes services", "/services", class: "liens" %>
      <%= link_to "Mon blog", "/articles", class: "liens" %>
      <%= link_to "Contact", "/contact", class: "liens" %> -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Qui suis-je ?", "/about", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Mes services", "/services", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Mon blog", "/articles", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", "/contact", class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.avatar.attached? %>
            <%#= image_tag "blank-profile.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "blank-profile.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Editer mon profil", edit_user_registration_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "...", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

